RewriteEngine On
RewriteBase /PORTFOLIO-GEMINI/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^projet/([^/]+)/?$ index.php?page=detail_projet&id=$1 [L,QSA]

RewriteRule ^([^/]+)/?$ index.php?page=$1 [L,QSA]